.detailContainer{
    max-width: 1240px;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    height: 600px;
}

.messageContainer{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailProducto{
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .botonBolsa{
        width: 150px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            @extend .agregar;
            text-decoration: none;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .botonSeguir{
        @extend .botonBolsa;
        width: 200px;
        height: 45px;

        a{
            @extend .agregar;
            width: 190px;
            
            &::before{
                right: 190px;
            }

            &::after{
                left: 190px;
            }

            &:active{
                width: 180px;

                &::before{
                    right: 180px;
                }
    
                &::after{
                    left: 180px;
                }
            }
        }
    }
}

.detailTitulo{
    font-size: 2.3rem;
}

.detailFoto{
    width: 700px;
    border: 4px double $decoracion;
}

.detailPrecio{
    font-size: 1.5rem;
    color : $decoracion;
}

.detailDescripcion{
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 23px;
}

.continuarContainer{
    width: 240px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}