footer{
    background-color: $negro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    margin-top: 70px;

    .menu{
        display: flex;
        gap: 20px;
        width: 600px;
        justify-content: space-evenly;
        font-size: 1.2rem;
    }

    h4{
        color: $blanco;
        text-decoration: underline;
    }

    .imgFooter{
        width: 150px;
        margin-left: 40px;
    }

    a{
        color: $blanco;
        text-decoration: none;

        &:hover{
            color: $decoracion;
            transition: .5s all;
        }
    }
}

.tarjetasContainer {
    display: flex;
    gap: 20px;
    margin-right: 40px;
    align-self: flex-end;
    width: 255px;
    margin-bottom: 8px;
}