footer{
    background-color: $negro;
    display: flex;
    height: 180px;
    margin-top: 200px;

    h4{
        color: $blanco;
        text-decoration: underline;
    }

    .imgFooter{
        width: 120px;
    }
}