*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
}

li{
    list-style-type: none;
}

button{
    color: #fff;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img{
    width: 100%;
}

h1{
    color: #fff;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    // background-image: url($imagen);
    background-position: 0px 0px;
    background-size: cover;
    height: 1000px;

    div{
        width: 300px;
        margin-right: 400px
    };
    h2{
        color: $blanco;
        margin-right: 40px;
        font-size: 3rem;
    }
}
