.marcasContainer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    h3{
        align-self: center;
        font-size: 40px;
        text-decoration: double underline 2px $decoracion;
    }
}

.marcas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    margin-top: 50px;
}

.blanco{

    border: 4px double $decoracion;
}

.negro{
    background-color: $negro;
    border: 4px double $decoracion;
    }
