@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=MedievalSharp&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MedievalSharp", cursive;
}

li {
  list-style-type: none;
}

button {
  color: #fff;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
}

h1 {
  color: #fff;
}

header {
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 780px;
  justify-content: space-evenly;
  margin-top: 20px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul #todos {
  font-size: 25px;
  text-decoration: underline #b68d2c;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.logo {
  width: 150px;
}

.iconoBolsa {
  width: 30px;
  position: absolute;
}

.menu {
  display: flex;
  gap: 20px;
}
.menu .dropdown {
  position: relative;
}
.menu .dropdown-menu.show {
  display: block;
}
.menu .dropdown-menu {
  z-index: 1000;
  background: #610000;
  position: absolute;
  display: none;
  text-align: left;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  min-width: 10rem;
  border: 4px double #b68d2c;
  inset: 10px auto auto 0px !important;
}
.menu .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  text-align: inherit;
  padding: 0.5rem 0;
}
.menu .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #b68d2c;
}
.menu button {
  font-size: 1.25rem;
}
.menu button a {
  color: #fff;
  text-decoration: none;
}
.menu button a:hover {
  color: #b68d2c;
  transition: 0.5s all;
}
.menu li button:hover {
  color: #b68d2c;
  transition: 0.5s all;
}

.banderin {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #610000;
  height: 50px;
  width: 55px;
  margin-bottom: 32px;
  border-top: 4px double #b68d2c;
  border-bottom: none;
  z-index: 1;
}
.banderin::after {
  content: "";
  border-style: solid;
  border-width: 15px 28px 12px 27px;
  border-color: #610000 #610000 transparent #610000;
  display: block;
  position: absolute;
  top: 274px;
}
.banderin p {
  background-color: #1c440f;
  color: #fff;
  font-size: 1rem;
  min-width: 20px;
  padding: 2px 3px;
  text-align: center;
  position: relative;
  bottom: 36px;
  left: 23px;
  z-index: 10;
}
.banderin p::after {
  content: "";
  border-style: solid;
  border-width: 7px 7px 0px 0px;
  border-color: #1c440f transparent transparent transparent;
  display: block;
  position: absolute;
  left: 20%;
  top: 22px;
}

.mensaje {
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
}
.mensaje::first-letter {
  font-size: 5rem;
  color: #b68d2c;
  background-color: #1c440f;
  border: 8px double #b68d2c;
  padding: 5px;
}

.itemList {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1240px;
  gap: 30px;
  justify-content: center;
}

.card {
  background-color: #fff;
  width: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 330px;
  justify-content: space-between;
  padding: 9px 3px 0px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3490196078);
  border: 3px double #b68d2c;
  margin-top: 40px;
}
.card .cardFoto {
  width: 200px;
  align-self: center;
  border: 3px double #b68d2c;
  background-color: #fff;
}
.card .detalles {
  background-color: #fff;
  width: 130px;
  align-self: center;
  margin-bottom: 10px;
  padding: 4px;
  position: relative;
  border-bottom: 3px double #b68d2c;
  border-top: 3px double #b68d2c;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3490196078));
  color: #b68d2c;
  text-decoration: none;
  text-align: center;
}
.card .detalles:hover {
  background-color: #1c440f;
  transition: all 0.2s;
}
.card .detalles:hover::after {
  border-color: #1c440f transparent #1c440f #1c440f;
  transition: all 0.2s;
}
.card .detalles:hover::before {
  border-color: #1c440f #1c440f #1c440f transparent;
  transition: all 0.2s;
}
.card .detalles:active {
  transition: all 0.1s;
  width: 120px;
}
.card .detalles:active::after {
  transition: all 0.1s;
  border-width: 15px 4px 15px 0px;
  left: 120px;
}
.card .detalles:active::before {
  transition: all 0.1s;
  border-width: 15px 0px 15px 4px;
  right: 120px;
}
.card .detalles::after {
  content: "";
  border-style: solid;
  border-width: 15px 10px 15px 0px;
  border-color: #fff transparent #fff #fff;
  display: block;
  position: absolute;
  top: 0px;
  left: 130px;
}
.card .detalles::before {
  content: "";
  border-style: solid;
  border-width: 15px 0px 15px 10px;
  border-color: #fff #fff #fff transparent;
  display: block;
  position: absolute;
  top: 0px;
  right: 130px;
}

.contadorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  gap: 15px;
}

.contador {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #b68d2c;
  font-size: 1.3rem;
  border-radius: 5px;
}

.suma, .resta, .disabled {
  font-size: 1.3rem;
  background-color: #1c440f;
  color: #b68d2c;
  width: 30px;
  height: 30px;
  border: 4px double #b68d2c;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #575757;
}
.suma:active, .resta:active, .disabled:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px #575757;
}

.disabled {
  background-color: #575757;
  color: #a5a5a5;
  border: 4px double #a5a5a5;
  transform: translateY(2px);
  box-shadow: 1px 1px 3px #575757;
}

.resta {
  background-color: #610000;
}

.agotado {
  width: 150px;
  color: #b68d2c;
  font-size: 1.3rem;
  background-color: #610000;
  text-align: center;
  border-bottom: 3px double #b68d2c;
  border-top: 3px double #b68d2c;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3490196078));
  position: relative;
}
.agotado::after {
  content: "";
  border-style: solid;
  border-width: 12px 10px 12px 0px;
  border-color: #610000 transparent #610000 #610000;
  display: block;
  position: absolute;
  top: 0px;
  left: 150px;
}
.agotado::before {
  content: "";
  border-style: solid;
  border-width: 12px 0px 12px 10px;
  border-color: #610000 #610000 #610000 transparent;
  display: block;
  position: absolute;
  top: 0px;
  right: 150px;
}

.agregar, .misc a, .galleryContainer a, .detailProducto .botonBolsa a, .detailProducto .botonSeguir a {
  background-color: #fff;
  color: #b68d2c;
  width: 130px;
  margin-bottom: 10px;
  padding: 4px;
  position: relative;
  border-bottom: 3px double #b68d2c;
  border-top: 3px double #b68d2c;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3490196078));
}
.agregar:hover, .misc a:hover, .galleryContainer a:hover, .detailProducto .botonBolsa a:hover, .detailProducto .botonSeguir a:hover {
  background-color: #1c440f;
  transition: all 0.2s;
}
.agregar:hover::after, .misc a:hover::after, .galleryContainer a:hover::after, .detailProducto .botonBolsa a:hover::after, .detailProducto .botonSeguir a:hover::after {
  border-color: #1c440f transparent #1c440f #1c440f;
  transition: all 0.2s;
}
.agregar:hover::before, .misc a:hover::before, .galleryContainer a:hover::before, .detailProducto .botonBolsa a:hover::before, .detailProducto .botonSeguir a:hover::before {
  border-color: #1c440f #1c440f #1c440f transparent;
  transition: all 0.2s;
}
.agregar:active, .misc a:active, .galleryContainer a:active, .detailProducto .botonBolsa a:active, .detailProducto .botonSeguir a:active {
  transition: all 0.1s;
  width: 120px;
}
.agregar:active::after, .misc a:active::after, .galleryContainer a:active::after, .detailProducto .botonBolsa a:active::after, .detailProducto .botonSeguir a:active::after {
  transition: all 0.1s;
  border-width: 15px 4px 15px 0px;
  left: 120px;
}
.agregar:active::before, .misc a:active::before, .galleryContainer a:active::before, .detailProducto .botonBolsa a:active::before, .detailProducto .botonSeguir a:active::before {
  transition: all 0.1s;
  border-width: 15px 0px 15px 4px;
  right: 120px;
}
.agregar::after, .misc a::after, .galleryContainer a::after, .detailProducto .botonBolsa a::after, .detailProducto .botonSeguir a::after {
  content: "";
  border-style: solid;
  border-width: 15px 10px 15px 0px;
  border-color: #fff transparent #fff #fff;
  display: block;
  position: absolute;
  top: 0px;
  left: 130px;
}
.agregar::before, .misc a::before, .galleryContainer a::before, .detailProducto .botonBolsa a::before, .detailProducto .botonSeguir a::before {
  content: "";
  border-style: solid;
  border-width: 15px 0px 15px 10px;
  border-color: #fff #fff #fff transparent;
  display: block;
  position: absolute;
  top: 0px;
  right: 130px;
}

.detailContainer {
  max-width: 1240px;
  margin-inline: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  height: 600px;
}

.messageContainer {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailProducto {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detailProducto .botonBolsa, .detailProducto .botonSeguir {
  width: 150px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailProducto .botonBolsa a, .detailProducto .botonSeguir a {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
}
.detailProducto .botonSeguir {
  width: 200px;
  height: 45px;
}
.detailProducto .botonSeguir a {
  width: 190px;
}
.detailProducto .botonSeguir a::before {
  right: 190px;
}
.detailProducto .botonSeguir a::after {
  left: 190px;
}
.detailProducto .botonSeguir a:active {
  width: 180px;
}
.detailProducto .botonSeguir a:active::before {
  right: 180px;
}
.detailProducto .botonSeguir a:active::after {
  left: 180px;
}

.detailTitulo {
  font-size: 2.3rem;
}

.detailFoto {
  width: 700px;
  border: 4px double #b68d2c;
}

.detailPrecio {
  font-size: 1.5rem;
  color: #b68d2c;
}

.detailDescripcion {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 23px;
}

.continuarContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjetasContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tarjetasImg {
  width: 110px;
  background-color: #fff;
  border: 3px double #b68d2c;
  border-radius: 5px;
}

.marcasContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.marcasContainer h3 {
  align-self: center;
  font-size: 40px;
  text-decoration: double underline 2px #b68d2c;
}

.marcas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 50px;
}

.blanco {
  border: 4px double #b68d2c;
}

.negro {
  background-color: #000;
  border: 4px double #b68d2c;
}

footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  margin-top: 70px;
}
footer .menu {
  display: flex;
  gap: 20px;
  width: 600px;
  justify-content: space-evenly;
  font-size: 1.2rem;
}
footer h4 {
  color: #fff;
  text-decoration: underline;
}
footer .imgFooter {
  width: 150px;
  margin-left: 40px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #b68d2c;
  transition: 0.5s all;
}

.tarjetasContainer {
  display: flex;
  gap: 20px;
  margin-right: 40px;
  align-self: flex-end;
  width: 255px;
  margin-bottom: 8px;
}

.heroOculto {
  display: none;
}

.bannerGuerrera {
  width: 800px;
  height: 300px;
  position: relative;
  top: 25%;
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tituloGuerrera {
  color: #b68d2c;
  font-size: 5rem;
  animation-name: guerrera;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  filter: drop-shadow(2px 2px 5px #202020);
}

@keyframes guerrera {
  from {
    transform: translateY(-100px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    display: visible;
    opacity: 1;
    display: inline-block;
  }
}
.subtituloGuerrera {
  color: #fff;
  font-size: 4rem;
  animation-name: guerreraSub;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

@keyframes guerreraSub {
  from {
    transform: translateX(150px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    display: visible;
    opacity: 1;
  }
}
.bannerHeroina {
  width: 1600px;
  position: relative;
  top: 30%;
  left: 8%;
  display: flex;
  height: 300px;
  justify-content: space-between;
}

.tituloHeroina {
  color: #b68d2c;
  font-size: 5rem;
  animation-name: heroina;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  filter: drop-shadow(2px 2px 5px #202020);
}

@keyframes heroina {
  from {
    transform: translateX(-100px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    display: visible;
    opacity: 1;
    display: inline-block;
  }
}
.subtituloHeroina {
  color: #fff;
  font-size: 4rem;
  animation-name: heroinaSub;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  align-self: flex-end;
  text-align: end;
}

@keyframes heroinaSub {
  from {
    transform: translateX(50px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    display: visible;
    opacity: 1;
  }
}
.bannerArquero {
  width: 800px;
  height: 300px;
  position: relative;
  top: 25%;
  left: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tituloArquero {
  color: #b68d2c;
  font-size: 5rem;
  animation-name: arquero;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  filter: drop-shadow(2px 2px 5px #202020);
}

@keyframes arquero {
  from {
    transform: translateX(100px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    display: visible;
    opacity: 1;
    display: inline-block;
  }
}
.subtituloArquero {
  color: #fff;
  font-size: 4rem;
  animation-name: arqueroSub;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

@keyframes arqueroSub {
  from {
    transform: translateX(200px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    display: visible;
    opacity: 1;
  }
}
.heroTitulo {
  color: #b68d2c;
  font-size: 60px;
  animation-name: titulo;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes titulo {
  from {
    transform: translateY(-50px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    display: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.397);
    display: inline-block;
  }
}
.heroSubtitulo {
  color: #fff;
  font-size: 40px;
  animation-name: subtitulo;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

@keyframes subtitulo {
  from {
    transform: translateX(50px);
    display: none;
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    display: visible;
    opacity: 1;
  }
}
.loaderContainer {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.loader::before {
  content: "";
  box-sizing: border-box;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 0;
  top: -75px;
  animation: animloader 4s ease infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
  background: #b68d2c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 75px rgba(255, 255, 255, 0), 75px 75px rgba(255, 255, 255, 0), 75px 150px rgba(255, 255, 255, 0), 0px 150px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 0 75px #b68d2c, 75px 75px rgba(255, 255, 255, 0), 75px 150px rgba(255, 255, 255, 0), 0px 150px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 75px #b68d2c, 75px 75px #b68d2c, 75px 150px rgba(255, 255, 255, 0), 0px 150px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 75px #b68d2c, 75px 75px #b68d2c, 75px 150px #b68d2c, 0px 150px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 75px #b68d2c, 75px 75px #b68d2c, 75px 150px #b68d2c, 0px 150px #b68d2c;
  }
  62% {
    box-shadow: 0 75px rgba(255, 255, 255, 0), 75px 75px #b68d2c, 75px 150px #b68d2c, 0px 150px #b68d2c;
  }
  75% {
    box-shadow: 0 75px rgba(255, 255, 255, 0), 75px 75px rgba(255, 255, 255, 0), 75px 150px #b68d2c, 0px 150px #b68d2c;
  }
  87% {
    box-shadow: 0 75px rgba(255, 255, 255, 0), 75px 75px rgba(255, 255, 255, 0), 75px 150px rgba(255, 255, 255, 0), 0px 150px #b68d2c;
  }
  100% {
    box-shadow: 0 75px rgba(255, 255, 255, 0), 75px 75px rgba(255, 255, 255, 0), 75px 150px rgba(255, 255, 255, 0), 0px 150px rgba(255, 255, 255, 0);
  }
}
@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
.carouselContainer {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 70px;
}

.carousel {
  width: 1300px;
}
.carousel div {
  margin-inline: auto;
}
.carousel h3 {
  font-size: 40px;
  text-decoration: double underline 2px #b68d2c;
  text-align: center;
  padding-bottom: 20px;
}

.slick-prev:before, .slick-next:before {
  color: #b68d2c !important;
  font-size: 30px !important;
}

.slick-prev {
  left: -35px !important;
}

.slick-next {
  right: -35px !important;
}

.fondoBordo {
  background-color: #610000;
  border: 4px double #b68d2c;
  margin-top: 50px;
}
.fondoBordo h3 {
  color: #fff;
}
.fondoBordo .slick-prev:before, .fondoBordo .slick-next:before {
  color: #fff !important;
  font-size: 30px !important;
}

.galleryContainer {
  height: 1500px;
  width: 100%;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  grid-template-areas: "mujer unisex" "hombre unisex";
}
.galleryContainer div {
  height: 100%;
  position: relative;
}
.galleryContainer a {
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 35%;
  z-index: 10;
  width: 300px;
}
.galleryContainer a::before {
  right: 300px;
  border-width: 20px 0px 20px 15px;
}
.galleryContainer a::after {
  left: 300px;
  border-width: 20px 15px 20px 0px;
}
.galleryContainer a:active {
  width: 300px;
}
.galleryContainer a:active::before {
  right: 300px;
  border-width: 20px 0px 20px 10px;
}
.galleryContainer a:active::after {
  left: 300px;
  border-width: 20px 10px 20px 0px;
}

.ropaMujer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: mujer;
  grid-auto-flow: row;
  grid-template-areas: "caperuzita chicas chicas" "caperuzita chicas chicas" "princesa princesa chica";
}
.ropaMujer div {
  height: 100%;
}

.ropaHombre {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: hombre;
  grid-auto-flow: row;
  grid-template-areas: "campesino mago vikingo" "chicos chicos vikingo" "chicos chicos nieve";
}
.ropaHombre div {
  height: 100%;
}

.ropaUnisex {
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-area: unisex;
  grid-auto-flow: row;
  grid-template-areas: "piernas caballero" "guerrera guerrera";
}
.ropaUnisex div {
  height: 100%;
}

.misc {
  height: 1000px;
  width: 100%;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "pociones pociones bolso" "pociones pociones bolso" "runas armas armas" "runas armas armas";
}
.misc div {
  height: 100%;
  position: relative;
}
.misc a {
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 35%;
  z-index: 10;
  width: 300px;
}
.misc a::before {
  right: 300px;
  border-width: 20px 0px 20px 15px;
}
.misc a::after {
  left: 300px;
  border-width: 20px 15px 20px 0px;
}
.misc a:active {
  width: 300px;
}
.misc a:active::before {
  right: 300px;
  border-width: 20px 0px 20px 7px;
}
.misc a:active::after {
  left: 300px;
  border-width: 20px 7px 20px 0px;
}

.chicas {
  grid-area: chicas;
}

.caperuzita {
  grid-area: caperuzita;
}

.princesa {
  grid-area: princesa;
}

.chica {
  grid-area: chica;
}

.chicos {
  grid-area: chicos;
}

.nieve {
  grid-area: nieve;
}

.vikingo {
  grid-area: vikingo;
}

.campesino {
  grid-area: campesino;
}

.mago {
  grid-area: mago;
}

.guerrera {
  grid-area: guerrera;
}

.piernas {
  grid-area: piernas;
}

.caballero, .caballero404Reversa {
  grid-area: caballero;
}

.pociones {
  grid-area: pociones;
}

.bolso {
  grid-area: bolso;
}

.armas {
  grid-area: armas;
}

.runas {
  grid-area: runas;
}

.comments {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.commentsCarousel {
  width: 800px;
  height: 450px;
}
.commentsCarousel .containerPrincipal {
  margin-inline: auto;
  height: 450px;
}
.commentsCarousel .containerPrincipal .containerSecundario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 4px double #b68d2c;
  border-radius: 10px;
  width: 600px;
  height: 300px;
}

.customerImgContainer {
  width: 150px;
  border: 5px double #b68d2c;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -75px;
}

.customerName {
  font-size: 30px;
}

.customerComment {
  font-size: 24px;
  text-align: center;
  font-family: "Macondo Swash Caps", cursive;
  color: #b68d2c;
  padding: 0px 20px;
}

.customerDescription {
  font-size: 20px;
  align-self: flex-end;
  margin-right: 10px;
}

.container404 {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #610000;
}
.container404 h1 {
  font-size: 404px;
  color: #b68d2c;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5019607843));
  margin-bottom: -100px;
}
.container404 p {
  font-size: 100px;
  color: #fff;
}
.container404 p::first-letter {
  font-size: 150px;
}

.caballero404 {
  position: absolute;
  right: 481px;
  top: 370px;
  width: 173px;
  animation: caballero 3s steps(1, end) infinite;
}
.caballero404::after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 8px;
  box-shadow: 0 40px 15px rgba(0, 0, 0, 0.5019607843);
  background-color: transparent;
  border-radius: 80px/4px;
}

.caballero404Reversa {
  animation-name: caballeroReversa;
  transform: scaleX(-1);
}

@keyframes caballero {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes caballeroReversa {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */